<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LoggingDir" value="./log/" />

    <appender name="sharaku" class="ch.qos.logback.core.FileAppender">
        <append>true</append>

        <file>${LoggingDir}sharaku.log</file>
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{1}.%M - %m - %mdc%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="sharaku" />
    </root>
</configuration>
